@inherits LayoutComponentBase
@using MKERunApp.Components.Layout.NavMenu

<ThemeProvider/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <NavMenuDesktop />
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>