@inherits LayoutComponentBase
@using MKERunApp.Components.Layout.NavMenu

<ThemeProvider/>
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout Style="height:100vh">
    <MudHidden Breakpoint="Breakpoint.Xs">
        <NavMenuDesktop />
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.SmAndUp">
        <NavMenuMobile />
    </MudHidden>

    <MudMainContent Class="pt-2">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
                @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>