<style>
    .mud-button-label {
        height: 100%;
        display: block;
    }

    .mud-chip > .mud-chip-content {
        width: 100%;
    }

    .mud-chip {
        margin: 2px;
        width: 100%;
    }
</style>

<MudButton OnClick="ClickedDay" FullWidth Style="height:100%" DisableRipple>
    <MudStack Spacing="1" AlignItems="AlignItems.Start" Style="height:100%">
        <MudText>@TodaysActivities.GetDay.Day</MudText>
        <MudStack Spacing="0" Style="width:100%">
            @foreach (Activity activity in TodaysActivities.GetActivities)
            {
                <div @onclick:stopPropagation="true" style="width:100%">
                    <ActivityCalendarDay Activity=activity
                                         ActivityChanged="ShowChanged"
                                         ViewModel="TodaysActivities" />
                </div>
            }
        </MudStack>
    </MudStack>
</MudButton>

<MudPopover AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Open=OpenNewActivity Fixed>
    <MudPaper Class="pa-2">
        <ActivityForm Show=OpenNewActivity ShowChanged="(_) => ShowChanged()" ViewModel="TodaysActivities" />
    </MudPaper>
</MudPopover>
@code {
    [Parameter][EditorRequired] public required CalendarDayActivityViewModel TodaysActivities { get; set; }
    private bool OpenNewActivity = false;

    private void ClickedDay()
    {
        OpenNewActivity = !OpenNewActivity;
    }

    private void ShowChanged()
    {
        StateHasChanged();
    }
}
